/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global */
*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.clearfix{
    clear:both;
}
.fixed-width{
    width:1024px;
    margin:0 auto;
}
body{
    font-family: "微軟正黑體";
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
}

/* social */
.social{
    margin:20px 0 18px 0;
}
.social ul{
    float:right;
}
.social li{
    float:left;
}
.social{
    padding:4px 0;
    background-color: #eee;
    padding-right:12px
}
.f,.t{
    padding:0 8px;
    font-size: 15px;
}
.social img,.social a{
    display:block;
    
}
.social span,.social img{
    float:left
}
.f {
    text-decoration: none;
    color:#653eca;
    border-right:#555 1px solid;
}
.t {
    text-decoration: none;
    color:#319ed7;
}

/* topmenu */
.topmenu h1{
    float:left;
    padding:0 20px;
}
.topmenu ol{
    float:right;
}
.topmenu ol li{
 float:left;
 font-size: 15px;
 
}
.topmenu li a{
    text-decoration: none;
    color:#0c9;
    display:block;
    padding:5px 10px 17px 10px;
    margin:0 10px;
    border-bottom:4px rgba(0,0,0,.0) solid;
}
.topmenu li a:hover{
    border-bottom:4px #0c9 solid;
}
.topmenu h1 a{
    display:block;
    background-image: url(../images/green-Hex.png);
    background-repeat:no-repeat;
    width:171px;
    height: 36px;
    text-indent:101%;
    overflow: hidden;
    white-space:nowrap;
    padding-bottom:3px;
}

/* features */
.features{
    background-image: url(../images/features.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    padding:80px 0;
}
.features h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    padding:0 20px;
    color:#fff;
}

/* content */
.content{
    margin-top:65px;
    margin-bottom: 62px;
    text-align:center;
}
.html5, .rwd,.jquery{
    width: 309px;
    padding:20px;
    float:left;
    box-shadow: 0 3px 5px gray;
    -webkit-box-shadow: 0 3px 5px gray;
    -moz-box-shadow: 0 3px 5px gray;
}
.html5{
    margin-left: 20px;
    margin-right: 14px;
}
.rwd{
    margin: 0 14px;
}
.jquery{
    margin-left: 14px;
    margin-right: 20px;
}
.rwd img{
    padding-top: 25px;
    padding-bottom: 25px;
}
.jquery img{
    padding-top: 5px;
    padding-bottom: 5px;
}
.content h3{
   text-align:center;
   font-size: 18px;
   font-weight: 400;
   padding-top: 10px;
   padding-bottom: 5px;
}
.content p{
    text-align: justify;
    font-size: 15px;
    line-height: 1.5em;
}
.content .disc{
    text-align:left;
    list-style: disc;
    margin-left:20px;
    line-height: 1.5em;
}

/* class */
.class table{
    width:82%;
    margin:0 auto;
    margin-bottom: 60px;
}
.class h2{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 24px;
}
.item{
    width:23%
}
.hex,.normal{
    width:30%;
}
.solid{
    width: 17%;
}
.class th, .class td{
    font-size: 15px;
    padding:10px 20px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}
.class th{
    text-align: left;
    background-color: #eee;
}
.green{
    color:#009772;
}

/* quiz */
.quiz{
    background-image: linear-gradient(#00644b,#009772);
    background-image: -webkit-linear-gradient(#00644b,#009772);
    background-image: -o-linear-gradient(#00644b,#009772);
    background-image: -moz-linear-gradient(#00644b,#009772);
    padding-bottom: 20px;
}
.cols{
    width:984px;
    margin:0 auto;
}
.texarea{
    width: 48%;
    float:left;
    height:264px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
.input{
    width: 48%;    
    float:right;
}
.quiz h2{
    font-size: 24px;
    color:#fff;
    line-height: 35px;
    padding:20px 0;
    text-align: center;
}
.name,.phone,.email{
    width:100%;
    padding:7px;
    margin-top:5px;
    margin-bottom: 15px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
.btn{
    color:#fff;
    background-color: #0c9;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    float:right;
    font-size: 16px;
    padding:10px 20px;
    margin-top: 10px;
}
.input label{
    color:#fff;
    font-size: 15px;
    font-weight: 500;
}

/* footer */
footer{
    width: 984px;
    margin:20px auto;
    /* background-color: #eee; */
}
.footerlogo{
    float:left;
}
.contact{
    float:right;
}
.footerlogo a{
    background-image: url(../images/gray-Hex.png);
    width: 171px;
    height: 36px;
    display:block;
    text-indent:101%;
    overflow:hidden;
    white-space: nowrap;
}
.contact p{
    font-size: 15px;
    line-height: 24px;
}
.red{
    color:red;
}
